<div class="form-group row">
  <div class="col-xs-12">
  <%= label_tag :q_book_cont_any, Spree.t(:book) %>
  <%= f.text_field :book_cont_any, tabindex: 1, class: "form-control js-quick-search-target" %>
  </div>
</div>

<!-- Book -->
<div class="row">
  <div class="form-group">
    <div class="col-xs-12 col-md-6">
      <%= label_tag :q_title_cont, Spree::Enquiry.human_attribute_name(:title) %>
      <%= f.text_field :title_cont, tabindex: 1, class: "form-control" %>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= label_tag :q_state_eq, Spree::Enquiry.human_attribute_name(:state) %>
      <%= f.select :state_eq, Spree::Enquiry.states.map { |(name, id)| [Spree.t("enquiry_states.#{name}"), id] },
                   { include_blank: true },
                   { tabinxed: 1, class: "select2 js-filterable" } %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12 col-md-6">
      <%= label_tag :q_author_cont, Spree::Enquiry.human_attribute_name(:author) %>
      <%= f.text_field :author_cont, tabindex: 1, class: "form-control" %>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= label_tag :q_publisher_cont, Spree::Enquiry.human_attribute_name(:publisher) %>
      <%= f.text_field :publisher_cont, tabindex: 1, class: "form-control" %>
    </div>
  </div>
</div>

<!-- Customer -->
<div class="row">
  <div class="form-group">
    <div class="col-xs-12 col-md-6">
      <%= label_tag :q_first_name_cont, Spree::Enquiry.human_attribute_name(:first_name) %>
      <%= f.text_field :first_name_cont, tabindex: 1, class: "form-control" %>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= label_tag :q_last_name_cont, Spree::Enquiry.human_attribute_name(:last_name) %>
      <%= f.text_field :last_name_cont, tabindex: 1, class: "form-control" %>
    </div>
  </div>
</div>

<!-- Options -->
<div class="form-group row">
  <div class="col-xs-12">
    <%= label_tag :q_show_only_active do %>
      <%= f.check_box :show_only_active, { checked: @show_only_active }, '1', '0' %>
      <%= Spree.t(:show_active_enquiries) %>
    <% end %>
  </div>
</div>

<div data-hook="admin_promotions_index_search_buttons" class="form-actions">
  <%= button Spree.t(:filter_results), 'search' %>
</div>